/* font import */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Rubik&family=Space+Mono&display=swap');

/* page structure */
:root {
  --grayish: rgb(59, 59, 59);
  --purple: rgb(129, 61, 233);
  --background: rgb(54, 50, 50);
  --red: rgb(188, 49, 63);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  margin: 0px 0px;
  border: none;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: 'Rubik';
  color: black;
  width: 80%;
  position: relative;
  transition: all 1500ms;
  height: 100vh;
}

.start-btn {
  margin-top: 30px;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border: solid rgb(4, 255, 121);
  color: rgb(4, 255, 121);
  background: none;
  font-size: .8rem;
}

.start-btn:hover {
  background: rgb(4, 255, 121);
  color: black;
  cursor: pointer;
}


/* components */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

section.header {
  color: white;
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  margin-bottom: 0;
}

/* main screen buttons */
.main-button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  color: white;
  border: none;
  background-color: inherit;
  font-size: .9rem;
}

.main-button:hover,
.logo:hover {
  border-bottom: 2px solid white;
}


/* quick create */
.main-page-title {
  color: white;
}

.quickCreatePanel,
.customWorkoutPanel,
.workoutListPanel {
  background: white;
  position: relative;
  max-width: 800px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
}

.qc-title {
  font-weight: bold;
  border-bottom: 2px solid rgb(4, 255, 121);
  display: flex;
  justify-content: center;
}

.submit-btn {
  width: 80%;
  background: black;
  color: white;
  height: 30px;
  padding: 10px;
  border-style: solid;
  margin: 10px;
  border: none;
  font-size: large;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.submit-btn:hover {
  background: rgb(4, 255, 121);
}

.quickCreatePanel button:hover {
  border: none;
  cursor: pointer;
}

.quick-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
  max-width: 500px;
  width: 80%;
  padding-left: 10px;
  color: gray;
  font-weight: 700;
  height: 40px;
}


.quick-select select {
  border: .5px solid rgba(128, 128, 128, 0.764);
  font-size: 1rem;
  width: 50%;
  background: rgb(228, 228, 228);
  color: rgb(62, 62, 62);
}

.quick-select option {
  background: green;
}

.desc {
  font-size: .8rem;
  font-weight: 400;
}

.close-btn {
  width: 5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border-color: var(--background);
  border-style: none;
  margin: 10px;
  font-weight: 550;
  cursor: pointer;
  color: white;
  transition: all 1s;
}

.close-btn:hover {
  background: rgb(197, 76, 76) !important;
}

/* Custom Workout */
.customWorkoutContainer {
  color: white;
}

.customWorkoutPanel {
  background: white;
  height: 350px;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.custom-workout-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customWorkoutPanel input {
  margin-right: 5px;
  border: none;
  border: 2px ridge black;
  display: flex;
  justify-content: center;
}

.transition-green-bg {
  background: rgb(95, 245, 117);
  background-size: cover;
  background-repeat: no-repeat;
}

.transition-purple-bg {
  background: rgb(193, 95, 245);
  background-size: cover;
  background-repeat: no-repeat;
}

/* workout output */
div.workout-output {
  width: 100%;
  height: 300px;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  flex-direction: column;
}

section.workout-output {
  width: 100%;
  max-width: 800px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.nav,
.navbar-left,
.navbar-right {
  display: flex;
}

.nav {
  justify-content: space-between;
  align-items: flex-start;
  width: 95vw;
}

.navbar-right {
  width: 70%;
  justify-content: flex-end;
}

.navbar-left {
  width: 30%;
}

.hamburger-menu {
  visibility: hidden;
}

.main-frame {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-screen-bg {
  background: url('./media//dumbbell-bg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset -2em -7em 5em black, inset 2em 7em 5em black;
  ;
  background-size: 40vw;
}

.d-none {
  visibility: hidden;
}

.logo {
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  color: white;
  border: none;
}

/* animations */
#slide {
  position: relative;
  top: -300px;
  -webkit-animation: slide .5s forwards;
  animation: slide .5s forwards;
}


@-webkit-keyframes slide {
  100% {
    top: 0;
  }
}

@keyframes slide {
  100% {
    top: 0;
  }
}

.dumbbell-gif {
  height: 60px;
  width: 60px;
  background-image: url(./media/dumbbellgif.gif);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 150px
}

.thought-icon,
.muscle-logo {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 150px;
  color: white;
}

.workouts-list {
  font-weight: bold;
}

.workoutListPanel {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
}

.ootb-work-out-list,
.custom-work-out-list {
  display: flex;
  flex-direction: column;
}

.workout-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-workout {
  background: var(--red);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: auto;
  border-radius: 3px;
}

.custom-workout-dial {
  content: "";
  height: 20px;
  background: red;
  width: 80px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: all .5s;
  cursor: pointer;
  border: none;
  position: relative;
  margin-left: 10px;
}

.custom-workout-dial-blip {
  background: white;
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 50%;
  border: none;
}



.custom-workout-dial-turned-on {
  background: green;
  justify-content: flex-end;
}

.customWorkoutSpan {
  display: flex;
  font-size: small;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  max-width: 500px;
  color: gray;
}

@media (max-width: 5560px) {
  .home-screen-bg {
    box-shadow: inset -2em -15em 5em black, inset 2em 7em 5em black;
  }
}

@media (max-width: 700px) {
  .app-container {
    display: flex;
    justify-content: center;
  }

  .main-button {
    font-size: .7rem;
    font-weight: bold;
  }

  .main-page-title {
    text-align: center;
  }

  .quick-select select {
    width: 30%;
  }

  section.header {
    height: 170px;
  }

  .movement,
  .custom-workout-input {
    flex-direction: column;
  }

  .custom-workout-input p {
    margin-top: 2px;
  }

  .ootb-work-out-list,
  .custom-work-out-list {
    text-align: center;
    font-size: .7rem;
    width: 48%;
  }

  .home-screen-bg {
    box-shadow: inset -2em -15em 5em black, inset 2em 7em 5em black;
  }

  .navbar-right,
  .nav {
    flex-direction: column;
  }

  .navbar-right {
    width: 50%;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    transform: translateX(600px);
    height: 100px;
  }


  .navbar-right.active {
    visibility: visible;
    transform: translateX(17rem);
  }

  .navbar-left {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger-menu {
    visibility: visible;
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding-top: 1px;
  }

  .hamburger-menu span {
    background: white;
    display: block;
    width: 100%;
    height: 3px;
    margin: 2px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger-menu .bar.active:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu .bar.active:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger-menu .bar.active:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}