/* page structure */
:root {
  --white: white;
  --grayish: rgb(59, 59, 59);
  --purple: rgb(129, 61, 233);
  --background: rgb(54, 50, 50);
  --red: rgb(188, 49, 63);
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  margin: 0px 0px;
  border: none;
}

body {
  background-color: rgb(54, 50, 50);
  color: black;
  width: 80%;
  position: relative;
  transition: all 1500ms;
  height: 100vh;
}


/* components */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

section.header {
  color: var(--white);
  border-bottom: 4px solid var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 0;
}

/* main screen buttons */
.main-button {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid var(--white);
  margin-top: 10px;
  cursor: pointer;
  color: white;
  background: var(--background);
}

.main-button:hover {
  background: rgb(105, 105, 105);
  font-weight: bold;
  color: white;
}

/* quick create */
.quickCreateContainer {
  background: var(--background);
  color: white;
}

.quickCreatePanel {
  background: white;
  height: 350px;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.submit-btn {
  width: 80%;
  background: var(--background);
  color: white;
  height: 60px;
  padding: 10px;
  border-color: var(--background);
  border-radius: 5px;
  border-style: solid;
  margin: 10px;
  font-size: large;
  cursor: pointer;
}

.submit-btn:hover {
  background: rgb(90, 84, 84);
}

.quickCreatePanel button:hover {
  background: rgb(95, 245, 117);
  border: none;
  cursor: pointer;
}

.quick-select {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  max-width: 500px;
  font-weight: 700;
  padding-left: 10px;
}

.quick-select select {
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--red);
}

.quick-select option {
  background: green;
}

.desc {
  font-size: .8rem;
  font-weight: 400;
}

/* help */
.helpContainer {
  background: var(--background);
  color: white;
}

.helpContainer:hover {
  background: white;
  color: var(--background)
}

.close-btn {
  width: 5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  border-color: var(--background);
  border-radius: 5px;
  border-style: none;
  margin: 10px;
  font-weight: 550;
  cursor: pointer;
  color: white;
}

.close-btn:hover {
  background: rgb(197, 76, 76) !important;
}

/* Custom Workout */
.customWorkoutContainer {
  background: var(--background);
  color: white;
}

.customWorkoutPanel {
  background: white;
  height: 350px;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.customWorkoutPanel .quick-select {
  max-width: 500px;
  display: flex;
  margin: 0;
  justify-content: flex-start;
  padding-left: 10px;
}

.customWorkoutPanel input {
  margin-left: 5px;
  width: 30%;
  border: none;
  border-bottom: 2px ridge red;
  display: flex;
  justify-content: center;
}

.transition-green-bg {
  background: rgb(95, 245, 117);
  background-size: cover;
  background-repeat: no-repeat;
}

.transition-purple-bg {
  background: rgb(193, 95, 245);
  background-size: cover;
  background-repeat: no-repeat;
}